@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: doran-Bold;
  src: url(./assets/fonts/Doran-Bold.ttf);
}
@font-face {
  font-family: doran-mid;
  src: url(./assets/fonts/Doran-Medium.ttf);
}
@font-face {
  font-family: doran-sm;
  src: url(./assets/fonts/Doran-Thin.ttf);
}

body{
  background-color: #FDF9F9;
  font-family: doran-mid;
}
.fonts{
  font-family: doran-mid !important;
}
.porduct-btn{
  background: rgba(236, 228, 218, 1);
  border-radius: 15px;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 20px;
}
.porduct-btn:hover{
  background: rgb(212, 210, 208); 
}
.footer{
  background: rgba(237, 219, 219, 0.2);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.panglar-color{
  color: rgba(241, 225, 225, 1);
}
@media screen{
  
}